/* 
  Final Project
  Author: Andry Nunez, Armando Escobar 
  Date: December 23, 2021    

  Filename:         mission.css
*/
section
{
  margin-top: 10%;
  text-align: center;
}
ul
{
  text-align: left;
}

h1
{
  font-size: 28px;
  animation-name: rgb;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
